@import '../variables.scss';

.button {
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transition: all .2s;
    border: 0;
    font-size: 1rem;
    outline:none;

    &:hover {
        cursor: pointer;
    }
    &:active {
        border: 0;
    }
}
.success {
    background-color: $green;
    &:hover {
       background-color: #2ba069;
    }
}

.cancel {
    background-color: $red;
    &:hover {
       background-color: #ff5555;
    }
}