@import '../variables.scss';

.button {
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transition: all .2s;
    

    &:hover {
        cursor: pointer;
    }
}
.success {
    background-color: $green;
    &:hover {
       background-color: #2ba069;
    }
}

.cancel {
    background-color: $red;
    &:hover {
       background-color: #ff5555;
    }
}