@import "../variables.scss";

.beerListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;

  .beerListItemContainer {
    display: block;
    padding: 10px 0;
    .beerTitle {
      font-size: 18px;
      color: $red;
    }
  }
}
