@import '../variables.scss';

.beerListContainer {
   
    .beerListItemContainer:last-child {
        border-bottom: 1px solid #eee;
        margin-bottom: 40px;
    }

    .beerListItemContainer:first-child {
        border-top: 1px solid #eee;
    }

    .beerListItemContainer {
        display: block;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    
        .beerTitle {
            font-size: 18px;
            color: $red;
        }
    
    }
}