@import "../variables.scss";

.beerListContainer {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  margin: auto;
}

.beerListItemContainer {
  display: block;
  .beerTitle {
    font-size: 18px;
    color: $red;
  }
}

.beerListDetailContainer {
  display: flex;
  flex-wrap: wrap;

}
