@import '../variables.scss';
.navigation {
    background-color: $holiday-gray;
    .linkContainer {
        display: flex;
        align-items: center;
        height: 65px;
        

        .navigationLink{
            margin-right: 30px;
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
            list-style: none;

            .icon {
                background: url('../../assets/Christmas_tree.svg') transparent 5px 50% no-repeat;
                background-size: 40px 40px;
                margin-left: 15px;
                margin-right: 15px;
            
                display: inline-block;
                vertical-align: middle;
                width: 45px;
                height: 45px;
              }

            a {
                color: $white;
                text-decoration: none;
            }
        }

        .googleAuthenticationLink {
            font-size: 29px;
            color:red;
        }
    }

    .logInOutLink {
        margin-left: auto;
        order: 2;
    }

}
