@import 'variables.scss';

.detailView {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  background-color: $holiday-gray;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  h1 {
    margin-top: 0;
  }

  .controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin-top: 10px;
    cursor: pointer;

    a{
        margin-right: 10px;
        color: $white;
    }
    :last-child {
        margin-right: 10px;
    }
  }
}
