@import './variables.scss';

.listViewContainer {
  margin: auto;
  width: 50%;
}

.listViewContainer__narrow {
  min-width: 350px;
  max-width: 550px;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  margin: auto;
}
.singleValueListContainer {
  .singleValueListItem {
    margin: 15px;
    color: $white;
  }
}
.listViewHeading {
  display: flex;
  position: relative;
  color: $white;
}
.buttonContainer {
  position: absolute;
  right: 0;
  margin-top: 20px;
}